.items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.item {
    background-color: white;
    padding: 20px;
    font-size: 20px;
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.item h3 {
    font-size: 25px;
    margin: 5px 0;
}

.page {
    background-color: white;
    gap: 10px;
    padding: 40px;
    display: flex;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
    transform: scale(0);
    animation: scale 0.3s ease forwards;
    margin-top: 6rem ;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.image {
    width: 600px;
    min-width: 600px;
}

.listItem {
    display: flex;
    gap: 10px;
    border-bottom: solid 1px #ccc;
    padding: 10px 0;
}

.price {
    font-size: 27px;
    margin: 5px 0;
}

@keyframes scale {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}